* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    margin-bottom: 200px;
}

header {
    padding: 15px 0 15px;
    background-color: rgb(233, 225, 225);
    border-bottom: 2px dotted rgb(119, 116, 116);
    text-align: center;
}

a {
    text-decoration: none;
    color: blueviolet;
}

ul li {
    list-style: none;
    list-style-position: inside;
    padding-right: 10px;
}


header a {
    margin-left: 20px;
}

#foto,
.capitello {
    border-radius: 60%;
    border: 3px solid green;
}

.capitello, #foto {

    max-width: 100px;

}

#foto {
    position: relative;
    left: 70px;
    margin-right: 10px;
   
}


h1,
h2 {
    line-height: 0.8;
}

h6 {
    margin:5px;
}

.text-justify {
    text-align: justify;
}

#mainleft {
    background-image: url("../img/platone-1.jpg");
}

#mainright {
    background-image: url("../img/aristotele.jpg");

}

#mainleft,
#mainright {
    background-size: contain;
}

hr {
    padding: 0;
    margin: 0;
}

textarea {
    resize: none;
}

.btn {
    border: 1px solid black;
    color: blueviolet;
    width: 40%;
    margin: 10px;
}

.btn:hover {
    background-color: blueviolet;
    color: white;
}

#tornasu {
    width: 60px;
    position: fixed;
    bottom: 50px;
    right: 2%;
    z-index: 2;
}

#piedipagina {
    position: fixed;
    width: 100%;
    top: auto;
    right: 0;
    bottom: 0px;
    left: 0;
    background-color: rgb(199, 194, 194);

}

footer {
    border-top: 2px dotted rgb(119, 116, 116);
    
}

.footercopy {
    text-align: center;
    background-color: rgb(170, 165, 165);
    position: relative;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 768px) {

    body {
        margin-bottom: 250px;
    }

    #foto {
        position: inherit;
       
    }

    #tornasu {
        bottom: 80px;
        right: 3%;
        z-index: 2;
    }
    
}

@media only screen and (width: 768px) {

    #tornasu {
        bottom: 50px;
    }

    span {
        display: none;
    }
}





